@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-1:"Noto Sans KR", sans-serif;
    --font-2: "Montserrat", sans-serif;
    --font-3:"Poppins", sans-serif;

    --primary-color:#fff;
    --second-color:#000;
    --color-1:#4D869C;
    --color-2:#7AB2B2;
    --color-3:#EEF7FF;
    --color-4:#CDE8E5;

}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-3);
}
.form-1{
    width: 25%;
    display: inline-grid;
    margin-top: 8%;
    height: 150px;
    gap: 12px;
    padding: 20px 50px 190px 50px;
    border: 1px solid black;
    border-radius: 4px;
}
.input-login{
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    font-family: var(--font-3);
}
.button-login{
    background-color: var(--color-1);
    padding: 8px;
    border: 1px solid black;
    border-radius:4px;
    font-family: var(--font-3);
    font-weight: bold;
}
.login-regist{
    font-size: 14px;
}
.text-signup{
    text-decoration: none;
    color: var(--color-1);
    font-weight: 500;
}